{% extends 'layout.html.twig' %}

{% block title %}Hello MethodologieController!{% endblock %}


{% block section1 %}
    {{ parent() }}
{% endblock %}

{% block next_sections %}

    <main>

        {% set m_title = "Collecte d'informations" | raw %}
        {% set m_current_item = 1 %}
        {% set m_image_path = '/methodologie-oriente-croissance-etape-31.svg' %}
        {% set m_number = '/pictures/Vector.svg' %}
        {{ include('methodologie/process.html.twig') }}



        {% set m_current_item = 2 %}
        {% set m_title = 'Recueil des données' %}
        {% set m_number = '/pictures/Vector2.svg' %}
        {{ include('methodologie/process.html.twig') }}



        {% set m_current_item = 3 %}
        <div class="xl:text-center">
        {%  set m_title  = 'Maquettes & design' %}
        </div>
        {% set m_number = '/pictures/Vector3.svg' %}
        {{ include('methodologie/process.html.twig') }}



        {% set m_current_item = 4 %}
        {% set m_title = 'Construction & déploiement' %}
        {% set m_number = '/pictures/Vector4.svg' %}
        {{ include('methodologie/process.html.twig') }}



        {% set m_current_item = 5 %}
        <div class="text-center">
            {% set m_title = 'Mesures & optimisations ' %}
        </div>

        {% set m_number = '/pictures/5.svg' %}
        {{ include('methodologie/process.html.twig') }}
    </main>

{% endblock%}
